[Desktop Entry]
Type=Application
X-Nemo-Application-Type=generic
Icon=harbour-fernschreiber
Exec=harbour-fernschreiber
Name=Fernschreiber
X-Share-Methods=file;

[X-Sailjail]
Permissions=Audio;Contacts;Documents;Downloads;Internet;Location;MediaIndexing;Microphone;Music;Pictures;Privileged;PublicDir;RemovableMedia;Sharing;UserDirs;Videos
OrganizationName=de.ygriega
ApplicationName=fernschreiber
ExecDBus=harbour-fernschreiber

[X-Share Method file]
Description=Send via Fernschreiber
Capabilities=application/*;audio/*;font/*;haptics/*;image/*;message/*;model/*;multipart/*;text/*;video/*;
SupportsMultipleFiles=true
